/* ---------------------- Over ALL ------------------------- */

html {
  background-color: #eee;
}
body {
  font-family: 'Times New Roman', Times, serif sans-serif;
  background-color: #eee;
  height: 100%;
  min-height: 100%;
}

ANCHOR /* ---------------------- Navbar ------------------------- */

ANCHOR /* ---------------------- Home --------------------------- */

.welcome {
  margin: auto;
  text-align: center;
  margin-top: 35px;
  font-weight:60px;
  font-family: 'Didot', cursive;
}
.slideshow {
	width: 60%;
  margin: 25px 20%;
  border-radius: 15px;
  max-height: 480px;
}
.moreBtn {
  color: white !important ;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #3F51B5;
  border: none;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
}
.homeH2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}

ANCHOR /* ---------------------- Product ------------------------ */

.mt-50 {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
}
.mb-50 {
  margin-bottom: 25px
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .1875rem
}
.card-img-actions {
  position: relative
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  text-align: center
}
.card-img {
  width: 350px
}
.star {
  color: red
}
.bg-cart {
  background-color: orange;
  color: #fff
}
.bg-cart:hover {
  color: #fff
}
.bg-buy {
  background-color: green;
  color: #fff;
  padding-right: 29px
}
.bg-buy:hover {
  color: #fff
}
a {
  text-decoration: none !important
}

ANCHOR /* ---------------------- About ---------------------- */

.aboutRow {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 7%;
}
.paddingTB60 {
  padding: 100px 100px 100px 100px;
}
.gray-bg {
  background: #F1F1F1 !important;
}
.about-title h1 {
  color: #535353; 
  font-size: 45px;
  font-weight: 600;
}
.about-title span {
  color: #AF0808; 
  font-size: 45px;
  font-weight: 700;
}
.about-title h3 {
  color: #535353; 
  font-size: 23px;
  margin-bottom: 24px;
}
.about-title p {
  color: #7a7a7a;
  line-height: 1.8;
  margin: 0 0 15px;
}
.about-paddingB {
  padding-bottom: 12px;
}
.about-img {
  padding-left: 57px;
}

ANCHOR /* ---------------------- Cart ------------------------- */

.cartBtn {
  color: black;
  text-decoration: none;
}
.cartBtn2 {
  color: white;
  text-decoration: none;
}
.button {
  display: inline-block;
  background: #0e8ce4;
  border-radius: 5px;
  height: 48px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: black;
}
.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  padding-left: 35px;
  padding-right: 35px
}
.button:hover {
  opacity: 0.8
}
ul {
  list-style-type: none;
}
.cart_section {
  width: 100%;
  padding-top: 93px;
  padding-bottom: 111px
}
.cart_title {
  font-size: 30px;
  font-weight: 500
}
.cart_items {
  margin-top: 8px
}
.cart_list {
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff
}
.cart_item {
  width: 100%;
  padding: 15px;
  padding-right: 46px
}
.cart_item_image {
  width: 133px;
  height: 133px;
  float: left
}
.cart_item_image img {
  max-width: 100%
}
.cart_item_info {
  width: calc(100% - 133px);
  float: left;
  padding-top: 18px
}
.cart_item_name {
  margin-left: 7.53%
}
.cart_item_title {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5)
}
.cart_item_text {
  font-size: 18px;
  margin-top: 35px
}
.cart_item_text span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 11px;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px);
}
.cart_item_price {
  text-align: right;
}
.cart_item_total {
  text-align: right;
}
.order_total {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-right: 46px;
  padding-left: 15px;
  background-color: #fff;
}
.order_total_title {
  display: inline-block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 60px;
}
.order_total_amount {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 26px;
  line-height: 60px;
}
.cart_buttons {
  margin-top: 60px;
  text-align: right;
}
.cart_button_clear {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: rgb(0, 0, 0);
  background: #FFFFFF;
  border: solid 1px #b2b2b2;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  margin-right: 26px;
}
.cart_button_clear:hover {
  border-color: #0e8ce4;
  color: #0e8ce4;
}
.cart_button_checkout {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  vertical-align: top;
}

ANCHOR /* ---------------------- Payment ------------------------- */

.card {
  border: none ;
  display: flex;
}
#payment {
  width: 75%;
  margin:auto;
}
.payBtn {
  color: white;
  text-decoration: none;
}
.form-control {
  border-bottom: 2px solid #eee !important;
  border: none;
  font-weight: 600
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid blue !important
}
.inputbox {
  position: relative;
  margin-bottom: 20px;
  width: 100%
}
.inputbox span {
  position: absolute;
  top: 7px;
  left: 11px;
  transition: 0.5s;
}
.inputbox i {
  position: absolute;
  top: 13px;
  right: 8px;
  transition: 0.5s;
  color: #3F51B5;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputbox input:focus~span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px;
}
.inputbox input:valid~span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 12px;
}
.card-blue {
  background-color: #492bc4;
}
.hightlight {
  background-color: #5737d9;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 14px;
}
.decoration {
  text-decoration: none;
  font-size: 14px;
}
.btn-success {
  color: #fff;
  background-color: #492bc4;
  border-color: #492bc4;
}
.btn-success:hover {
  color: #fff;
  background-color: #492bc4;
  border-color: #492bc4;
}
.decoration:hover {
  text-decoration: none;
  color: #fdcc49;
}

ANCHOR /* ---------------------- Confirmed Purchase ------------------------- */

.returnBtn {
  color: black;
}
.returnBtn2 {
  color: white;
  text-decoration: none;
}

ANCHOR /* ---------------------- Login ------------------------- */

.login {
  height: 100%;
}
.loginWrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}
#loginFormContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
.loginTitle {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 15px;
}
#loginFormFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
.submitBtn {
  padding-top: 15px;
}

/* Login (FORM TYPOGRAPHY) */

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}
input[type=text]:placeholder {
  color: #cccccc;
} 

ANCHOR /* ---------------------------------------- SignUp --------------------------------------- */

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}
.signUp body {
  background-color: #f9fafb;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 0;
  padding: 20px;
}
.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}
.signUpTitle {
  text-align: center;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.signUpForm {
  padding: 30px 30px;
  margin-top: 15%;
  margin-bottom: 15%;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}
.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
.form-control input:focus {
  outline: 0;
  border-color: #777;
}
.form-control.success input {
  border-color: var(--success-color);
}
.form-control.error input {
  border-color: var(--error-color);
}   
.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
}
.signUpForm button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

ANCHOR /* ---------------------- Footer ------------------------- */

#footer {
  position: relative;
  width: 100%;
}